@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="ita-container ita-container-vertical notranslate vk-box" id="kbd" tabindex="-1" style="user-select: none; left: 376px; top: 523px;">
    <div dir="ltr" style="white-space: nowrap; user-select: none;">
        <div class="vk-t" style="text-align: left; display: inline-block; user-select: none;">Русская клавиатура</div>
        <div class="vk-t-btns" style="right: 0px; display: inline-block; user-select: none;">
            <div class="vk-t-btn-o vk-sf-cl" style="display: inline-block; padding-right: 14px; user-select: none;">
                <div class="vk-t-btn vk-sf-cl" style="user-select: none;">
                </div>
            </div>
        </div>
    </div>
    <div dir="ltr" style="direction: ltr; user-select: none;">
        <div style="white-space: nowrap; user-select: none;">
            <button id="K192" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">ё</span>
            </button>
            <button id="K49" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">1</span>
            </button>
            <button id="K50" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">2</span>
            </button>
            <button id="K51" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">3</span>
            </button>
            <button id="K52" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">4</span>
            </button>
            <button id="K53" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">5</span>
            </button>
            <button id="K54" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">6</span>
            </button>
            <button id="K55" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">7</span>
            </button>
            <button id="K56" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">8</span>
            </button>
            <button id="K57" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">9</span>
            </button>
            <button id="K48" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">0</span>
            </button>
            <button id="K189" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">-</span>
            </button>
            <button id="K187" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">=</span>
            </button>
            <button id="K8" type="button" class="vk-btn" style="user-select: none; width: 62px;">
                <span class="vk-cap vk-sf-b vk-sf-c8">
                </span>
            </button>
        </div>
        <div style="white-space: nowrap; user-select: none;">
            <button id="K9" type="button" class="vk-btn" style="visibility: hidden; user-select: none; width: 45.5px;">
            </button>
            <button id="K81" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">й</span>
            </button>
            <button id="K87" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">ц</span>
            </button>
            <button id="K69" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">у</span>
            </button>
            <button id="K82" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">к</span>
            </button>
            <button id="K84" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">е</span>
            </button>
            <button id="K89" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">н</span>
            </button>
            <button id="K85" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">г</span>
            </button>
            <button id="K73" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">ш</span>
            </button>
            <button id="K79" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">щ</span>
            </button>
            <button id="K80" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">з</span>
            </button>
            <button id="K219" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">х</span>
            </button>
            <button id="K221" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">ъ</span>
            </button>
            <button id="K220" type="button" class="vk-btn" style="user-select: none; width: 45.5px;">
                <span class="vk-cap">\</span>
            </button>
        </div>
        <div style="white-space: nowrap; user-select: none;">
            <button id="K20" type="button" class="vk-btn" style="user-select: none; width: 53.75px;">
                <span class="vk-cap vk-sf-b vk-sf-c20" style="user-select: none;">
                </span>
            </button>
            <button id="K65" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">ф</span>
            </button>
            <button id="K83" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">ы</span>
            </button>
            <button id="K68" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">в</span>
            </button>
            <button id="K70" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">а</span>
            </button>
            <button id="K71" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">п</span>
            </button>
            <button id="K72" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">р</span>
            </button>
            <button id="K74" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">о</span>
            </button>
            <button id="K75" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">л</span>
            </button>
            <button id="K76" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">д</span>
            </button>
            <button id="K186" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">ж</span>
            </button>
            <button id="K222" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">э</span>
            </button>
            <button id="K13" type="button" class="vk-btn" style="visibility: hidden; user-select: none; width: 70.25px;">
            </button>
        </div>
        <div style="white-space: nowrap; user-select: none;">
            <button id="K16" type="button" class="vk-btn" style="user-select: none; width: 70.25px;">
                <span class="vk-cap vk-sf-b vk-sf-c16" style="user-select: none;">
                </span>
            </button>
            <button id="K90" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">я</span>
            </button>
            <button id="K88" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">ч</span>
            </button>
            <button id="K67" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">с</span>
            </button>
            <button id="K86" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">м</span>
            </button>
            <button id="K66" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">и</span>
            </button>
            <button id="K78" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">т</span>
            </button>
            <button id="K77" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">ь</span>
            </button>
            <button id="K188" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">б</span>
            </button>
            <button id="K190" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">ю</span>
            </button>
            <button id="K191" type="button" class="vk-btn" style="user-select: none;">
                <span class="vk-cap">.</span>
            </button>
            <button id="K16" type="button" class="vk-btn" style="user-select: none; width: 86.75px;">
                <span class="vk-cap vk-sf-b vk-sf-c16" style="user-select: none;">
                </span>
            </button>
        </div>
        <div style="white-space: nowrap; user-select: none;">
            <button id="K273" type="button" class="vk-btn" style="user-select: none; width: 95px;">
                <span class="vk-cap vk-sf-c273" style="user-select: none;">Ctrl + Alt</span>
            </button>
            <button id="K32" type="button" class="vk-btn" style="user-select: none; width: 293px;">
                <span class="" style="visibility: hidden;">.</span>
            </button>
            <button id="K273" type="button" class="vk-btn" style="user-select: none; width: 95px;">
                <span class="vk-cap vk-sf-c273" style="user-select: none;">Ctrl + Alt</span>
            </button>
        </div>
    </div>
</div>
<script src="~/js/65698178.js"></script>
<script src="~/js/49692032.js"></script>
<script src="~/js/ru.js"></script>