
@{
    ViewData["Title"] = "Test";
}

<div id="jQuizler" class="main-quiz-holder">
    <h3>Тест на тему: "Операционные системы"</h3>
    <p><img src="images/os.png" /></p>
    <button class="btn btn-large">Начать тест</button>
</div>