
@{
    Layout = "ChoiceReg";
    ViewData["Title"] = "RegPage";
}


    <div id="square">
        <form method="post">
            <h1>Кто вы?</h1>
            <div class="d-flex flex-column mx-0 justify-content-center">
                <select class="d-inline-block" name="nameStatus">
                    <option>Учитель</option>
                    <option>Ученик</option>
                    <option>Родитель</option>
                </select>
                <button  class="d-block" type="submit" value="Продолжить">Продолжить</button>
            </div>
        </form>
    </div>

