<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/css/reset.css" rel="stylesheet" type="text/css" media="screen" />*@
    <link href="~/css/StartDesign.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed|Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&display=swap" rel="stylesheet">
    <script src="~/js/jquery.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="contaner">
    <div id="square">
        @RenderBody()
        <div id="registration">
            <a href="~/Login/RegPage">Регистрация</a>
        </div>
    </div>
    <script src="~/js/ScriptsLogin.js"></script>
</body>
</html>
