
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/css/Common.css" rel="stylesheet" type="text/css" media="screen" />
    <title></title>
</head>
<body>
    @RenderBody()
</body>
</html>