@using Project.ViewModel;
@model SchoolModels;
@{
    ViewData["Title"] = "PupileReg";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Регистрация</title>
    <link href="~/css/Common.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/css/TeacherRegPage.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <script src="~/js/jquery.js"></script>

</head>
<body>
    <div id="square">
        <form method="post">
            <h1>Регистрация</h1>
            <div class="row d-flex">
                <div class="col-md-6">
                    <p>Фамилия</p>
                    <input type="text" name="surname" />
                    <p>Имя</p>
                    <input type="text" name="name" />
                    <p>Отчество</p>
                    <input type="text" name="patr" />
                </div>
                <div class="col-md-6">
                    <p>Школа</p>
                    <select name="school">
                        @foreach (var tmp in Model.schools)
                        {
                            <option value="@tmp.Idschool">@tmp.NameSchool</option>
                        }
                    </select>
                    <br />
                    <p>Класс</p>
                    <select name="number">
                        @for (int i = 1; i < 12; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
            @*<div class=" d-flex flex-column text-center justify-content-center">
                <p>Телефон</p>
                <input class="inp" type="text" name="phone" />
                <p>E-mail</p>
                <input class="inp" type="text" name="email" />
                <p>Пароль</p>
                <input class="inp" type="password" name="password" />
            </div>*@
            <div class="passw row d-flex">
                <div class="inpw col col-md-6 d-flex flex-column text-center justify-content-center">
                    <p>Телефон</p>
                    <input type="text" name="phone" />
                    <p>E-mail</p>
                    <input type="text" name="email" />
                </div>
                <div class="inpw col col-md-6 d-flex flex-column text-center justify-content-center">
                    <p>Пароль</p>
                    <input id="password_1" type="password" name="password" />
                    <div class="d-flex justify-content-md-center">
                        <input id="randompassword" type="button" />
                        <input class="d-block" id="showpassword" type="checkbox" value="Показать пароль" /><p id="pas">Показать пароль</p>
                    </div>
                </div>
            </div>
            <button type="submit" value="Подтвердить данные">Подтвердить данные</button>
        </form>
    </div>
    <script src="~/js/ScriptsTeacherRegPage.js"></script>
</body>
</html>