
[dir='ltr'], [dir='rtl'] {
    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
}
.vk-cap {
    cursor: default;
}
.vk-box {
    height: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #b8b8b8;
    border: 1px solid rgba(0,0,0,0.3);
    z-index: 2147483644;
    font-family: arial,sans-serif;
    font-size: 14px;
    position: fixed;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}
.vk-box, .vk-btn, .vk-btn-n, .vk-cap, .vk-cap-i, .vk-t, .vk-t-btn {
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
}
.vk-btn {
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0,0,0,0.1);
    width: 29px;
    height: 29px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    padding: 1px;
    min-width: 0px;
    max-width: 500px;
    min-height: 0px;
    max-height: 50px;
    color: #444;
    background-color: #f5f5f5;
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}


.vk-cap, .vk-t {
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: normal;
    line-height: 25px;
}
.vk-box, .vk-btn, .vk-btn-n, .vk-cap, .vk-cap-i, .vk-t, .vk-t-btn {
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
}

.vk-t {
    height: 24px;
    cursor: move;
    padding: 0px 3px;
    color: black;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.vk-cap, .vk-t {
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: normal;
    line-height: 25px;
}

@media print {
    #at4-follow, #at4-share, #at4-thankyou, #at4-whatsnext, #at4m-mobile, #at15s, .at4, .at4-recommended {
        display: none !important
    }
}

@media screen and (max-width:400px) {
    .at4win {
        width: 100%
    }
}

@media screen and (max-height:700px) and (max-width:400px) {
    .at4-thankyou-inner .at4-recommended-container {
        height: 122px;
        overflow: hidden
    }

    .at4-thankyou-inner .at4-recommended .at4-recommended-item:first-child {
        border-bottom: 1px solid #c5c5c5
    }
}