.td{text-decoration:none; border:none}
.img{text-decoration:none; border:none}
.font{font-family:Tahoma; font-size:11px; color:#252525; text-decoration:none; border:none}
.h1{font-family:Tahoma; font-size:11px; color:#2277B0; text-decoration:none; border:none}
h1{font-family:Tahoma; font-size:11px;  padding-top:10; color:#2277B0; text-decoration:none; border:none}
.a{font-family:Tahoma; font-size:11px; color:#2277B0; text-decoration:underline; border:none}
.a:hover{font-family:Tahoma; font-size:11px; color:#8E8D8D;  text-decoration:none;  border:none}
.a1{font-family:Tahoma; font-size:11px; color:#2277B0; text-decoration:none; border:none}
.ser{font-family:Tahoma; font-size:11px; color:#8E8D8D; text-decoration:none; border:none}
.small{font-family:Tahoma; font-size:9px; color:#252525; text-decoration:none; border:none}
.font1{font-family:Tahoma; font-size:11px; color:#252525; text-decoration:none}
.dline{font-family:Tahoma; font-size:11px; color:#2277B0; text-decoration:underline; border:none;  line-height:2}
.dline:hover{font-family:Tahoma; font-size:11px; color:#8E8D8D;  text-decoration:none;  border:none;  line-height:2}
.nz{font-family:Tahoma; font-size:11px; color:#000; text-decoration:none; border:none}
.red{font-family:Tahoma; font-size:12px; color:#f00904; text-decoration:none; border:none}
